{% extends 'back.html.twig' %}
{% block title %}SaledeSport index{% endblock %}

{% block body %}
    <h1>SaledeSport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salede_sport in salede_sports %}
            <tr>
                <td>{{ salede_sport.id }}</td>
                <td>{{ salede_sport.name }}</td>
                <td>
                    <a href="{{ path('salede_sport_show', {'id': salede_sport.id}) }}">show</a>
                    <a href="{{ path('salede_sport_edit', {'id': salede_sport.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('salede_sport_new') }}">Create new</a>
{% endblock %}
